<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header card-header-top">
        <span class="margin-align-title card-header-title">
          <div class="font-icon-wrapper font-icon-lg">
            <i class="fa fa-capsules icon-gradient bg-happy-itmeo"> </i> {{ 'Purchase List' | translate }}
          </div>
        </span>
        <div class="btn-actions-pane-right">
          <a routerLink="/purchase"> <i class="pe-7s-cart icon-gradient bg-happy-itmeo"> </i> {{ 'Back to Purchase' | translate }} </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
            <app-purchase-list-filter style="width: 100%" (loadList)="filterList($event)"></app-purchase-list-filter>
          <div class="col-lg-12">
            <div class="custom_loader_new" style="margin: 0 auto !important;" *ngIf="customLoader"></div>
            <table class="mb-0 table table-hover" *ngIf="!customLoader">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'Invoice' | translate }}</th>
                  <th>{{ 'Supplier' | translate }}</th>
                  <th>{{ 'Supplier Invoice' | translate }}</th>
                  <th>{{ 'Purchase Date' | translate }}</th>
                  <th>{{ 'Total' | translate }}</th>
                  <th>{{ 'Discount' | translate }}</th>
                  <th>{{ 'Net Payable' | translate }}</th>
                  <th>{{ 'Advance' | translate }}</th>
                  <th>{{ 'Due' | translate }}</th>
                  <th>{{ 'Action' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of purchaseList; let i='index';" class="detail-{{ item.id }}">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ item.invoice }}</td>
                  <td>{{ item.company == null ?  'N/A' : item.company.company_name}}</td>
                  <td>{{ item.company_invoice }}</td>
                  <td>{{ item.purchase_date }}</td>
                  <td>{{ item.total_amount }}</td>
                  <td>{{ item.discount }}</td>
                  <td>{{ item.total_payble_amount }}</td>
                  <td>{{ item.total_advance_amount }}</td>
                  <td>
                    {{ item.total_due_amount }}
                    <br />
                    <span class="small" style="color:RED;" *ngIf="item.total_due_amount<0">{{ 'Receivable' | translate }}</span>
                  </td>
                  <td>
                      <button title="Purchase Return" (click)="openModal(item.id, 'print-modal')" id="order_id" class="mr-2 btn-icon btn-icon-only btn btn-outline-info">
                      <i class="pe-7s-note2 btn-icon-wrapper"></i>
                      </button>
                      <button title="Delete Invoice" (click)="deletePurchaseDetails(item.id)" id="purchase_order_id" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
                      <i class="pe-7s-trash btn-icon-wrapper"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <boot-pagination style="width: 100%" [totalSize]="pagi.total" [listSize]="pagi.limit"
              (pageChange)="reloadTable($event)">
            </boot-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <jw-modal id="print-modal" class="data-view-modal">
    <div class="row">
      <div *ngIf="purchaseDetails" class="col-md-12">
        <header class="clearfix" style="margin-bottom: 0;">
          <div id="logo">
            <span class="pharmacy">{{ 'Purchase Return' | translate }}</span>
          </div>
        </header>
        <main>
          <div style="text-align: center;padding-bottom: 1%">
            <span style="padding-right: 2%">{{ 'Invoice' | translate }}: {{ purchase.invoice }}</span>
            <span style="padding-left: 2%">{{ 'Date' | translate }}: {{ purchase.purchase_date }}</span>
          </div>

          <form id="myForm" *ngIf="itemId" class="form-width-100" (keydown.enter)="$event.preventDefault()"
            (ngSubmit)="updateItemDetails()">
            <div class="form-row">
              <div class="col-md-3">
                <div class="position-relative form-group">
                  <label class="">{{ 'Product Name' | translate }}</label>
                  <input name="item_name" [(ngModel)]="updatePurchaseItem.item_name" readonly placeholder="" type="text"
                    class="form-control">
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="position-relative form-group">
                  <label for="company" class="">Company</label>
                  <input name="company" [(ngModel)]="updatePurchaseItem.company" readonly placeholder="" type="text"
                    class="form-control">
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="position-relative form-group">
                  <label for="new_quantity" class="">{{ 'Quantity' | translate }}</label>
                  <input name="new_quantity" [(ngModel)]="updatePurchaseItem.new_quantity" placeholder="" autofocus
                    type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="position-relative form-group">
                  <button type="button" (click)="updateItemDetails()"
                    class="btn btn-primary mb-0 save-btn save-btn-margin">
                    {{ 'Update' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>

          <table class="preview">
            <thead>
              <tr>
                <th class="sl">{{ 'Sl' | translate }}</th>
                <th style="text-align: left;">{{ 'Item' | translate }}</th>
                <th>{{ 'Qty' | translate }}</th>
                <th>{{ 'CPU' | translate }} {{ currency }}</th>
                <th>{{ 'Total' | translate }} {{ currency }}</th>
                <th>{{ 'RPU' | translate }} {{ currency }}</th>
                <th>{{ 'Percentage' | translate }} {{ currency }}</th>
                <th>{{ 'Action' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of purchaseDetails; let i='index';">
                <td>{{ i+1 }}</td>
                <td style="text-align: left;">
                  {{ item.medicine_type | slice:0:3 }}. {{ item.medicine_name }}<br />
                  <small>{{ item.barcode }} <span *ngIf="config.enBatch">({{ item.batch_no }})</span></small>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.trade_price | number: "1.2-2"  }}</td>
                <td>{{ item.total | number: "1.2-2"  }}</td>
                <td>{{ item.mrp | number: "1.2-2"  }}</td>
                <td>{{ item.percentage | number: "1.2-2"  }}</td>
                <td>
                  <button (click)="changeItemDetails(item)" class="mr-2 btn-icon btn-icon-only btn btn-outline-info"><i
                      class="pe-7s-eyedropper btn-icon-wrapper"> </i></button>
                  <button (click)="deleteItemDetails(item)"
                    class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
                    </i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </main>
      </div>
    </div>
    <button id="close-div" style="width: 7%;margin-left: 93%;" (click)="closeModal('print-modal')"
      class="btn btn-warning btn-xs">
      {{ 'Close' | translate }}
    </button>
  </jw-modal>