.footer-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 171%
}

#remember-me {
    float: left !important;
}

.footer-link{
    max-width: 500px;
    margin: 0 auto;
}

.footer-div{
    width: 50%;
    display: inline-block;
}

.version-text{
    text-align: right;
}