<div class="app-wrapper-footer">
   <div class="app-footer">
         <div class="app-footer__inner">
            <div class="app-footer-left">
               <ul class="nav">
                     <li class="nav-item">
                        <a href="#" class="nav-link"> Copyright © 2019. All rights reserved </a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link"> | </a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link"> Version: 3.0.5 </a>
                     </li>
               </ul>
            </div>
            <div class="app-footer-right">
               <ul class="nav">
                     <li class="nav-item">
                        <a href="#" class="nav-link"> AnalyticalJ </a>
                     </li>
               </ul>
            </div>
         </div>
   </div>
</div>
