<div class="app-wrapper-footer">
   <div class="app-footer">
         <div class="app-footer__inner">
            <div class="app-footer-left">
               <ul class="nav">
                  <li class="nav-item">
                     Copyright <a href="https://analyticalj.com/analyticalj/public/" target="_blank"> ©analyticalj</a> 2025. All rights reserved
                  </li>
               </ul>
            </div>
            <div class="app-footer-right">
               <ul class="nav">
                  <li class="nav-item">
                     <a href="https://analyticalj.com/analyticalj/public/" class="nav-link"> Version: 1.0 </a>
                  </li>
               </ul>
            </div>
         </div>
   </div>
</div>
