<div class="m-portlet m-portlet--mobile search-div">
  <div class="m-portlet__body search-panel">
    <!--begin::Form-->
    <form class="form-inline" #form="ngForm" (ngSubmit)="searchSaleData()">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">{{ 'Invoice' | translate }}</label>
        <input
          type="text"
          class="form-control"
          name="invoice"
          [(ngModel)]="saleData.invoice"
          placeholder="{{ 'Invoice' | translate }}"
        />
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">{{ 'Customer Mobile' | translate }}</label>
        <input
          type="text"
          class="form-control"
          name="customer_mobile"
          [(ngModel)]="saleData.customer_mobile"
          placeholder="{{ 'Customer Mobile' | translate }}"
        />
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">{{ 'Date Range' | translate }}</label>
        <input
          autocomplete="off"
          type="text"
          placeholder="{{ 'Date Range' | translate }}"
          class="form-control"
          bsDaterangepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [(ngModel)]="saleData.sale_date"
          name="sale_date"
        />
      </div>

      <button
        type="submit"
        class="btn btn-info mb-2"
        style="margin-right:10px"
      >
        <i class="fa fa-calendar-check-o"></i>
        {{ 'Search' | translate }}
      </button>
      <button type="reset" class="btn btn-warning mb-2" (click)="resetSearch()">
        <i class="fa fa-history"></i>
        {{ 'Reset' | translate }}
      </button>
    </form>
    <!--end::Form-->
  </div>
</div>
