<div class="col-md-12">
  <div class="main-card mb-3 card">
    <div class="card-header card-header-top">
      <span class="margin-align-title card-header-title">
        <div class="font-icon-wrapper font-icon-lg">
          <i class="fa fa-capsules icon-gradient bg-happy-itmeo"> </i> {{ 'Inventory List' | translate }}
        </div>
      </span>
      <div class="btn-actions-pane-right">
        <i class="pe-7s-cart icon-gradient bg-happy-itmeo"> </i> {{ 'Inventory List' | translate }}
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 sale-filter-form-background">
            <form id="myForm" class="form-inline form-width-100" (ngSubmit)="filterList()">
              <!-- <div class="position-relative form-group padding-bot-input">
                <select class="ace form-control" name="company" [(ngModel)]="filterItem.company">
                  <option value="0">Select Supplier</option>
                  <option *ngFor="let company of companyList" value="{{ company.id }}">{{ company.name }}</option>
                </select>
              </div> -->
              <!-- <div class="position-relative form-group search-div padding-bot-input">
                <input id="typeahead-basic" name="generic" [(ngModel)]="filterItem.generic" placeholder="Generic" type="text" [ngbTypeahead]="generic_search" class="form-control">
              </div> -->
              <div class="position-relative form-group search-div padding-bot-input">
                <div id="scrollable-dropdown-menu">
                  <input id="typeahead-basic" name="search" [(ngModel)]="filterItem.medicine" placeholder="Product" type="text" [ngbTypeahead]="search" class="form-control">
                </div>
              </div>
              <div class="position-relative form-group search-div padding-bot-input">
                <input id="type" name="search_type" [(ngModel)]="filterItem.type" placeholder="Type" type="text" [ngbTypeahead]="search_type" class="form-control">
              </div>
              <div class="position-relative form-group search-div padding-bot-input">
                <input name="quantity" [(ngModel)]="filterItem.quantity" id="quantity" placeholder="Quantity" type="number" class="form-control">
              </div>
              <div class="position-relative form-check padding-bot-input">
                <label class="form-check-label low-stock">
                  <input type="checkbox" name="low_stock_qty" [(ngModel)]="filterItem.low_stock_qty" class="form-check-input"> <span style="color: white">{{ 'Low Stock QTY' | translate }}</span> &nbsp;
                </label>
              </div>
              <div class="position-relative form-check">
                <button type="button" (click)="filterList()" class="btn btn-info">
                  {{ 'Filter' | translate }}
                </button>
                &nbsp;
                <button type="button" (click)="resetList()" class="btn btn-warning">
                  {{ 'Reset' | translate }}
                </button>
              </div>
            </form>
        </div>
        <div class="col-lg-12">
          <table class="mb-0 table table-bordered pull-right summary" style="font-size: 14px; width: 40%; margin-bottom: 20px !important;">
              <thead>
                  <tr>
                      <th style="width: 25%;">{{ 'Total CPU' | translate }}</th>
                      <th style="width: 25%;">{{ 'Total RPU' | translate }}</th>
                      <th style="width: 25%;">{{ 'Total Profit' | translate }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><span style="font-weight: bold;"> &#2547; {{ summary.total_tp | number: "1.2-2" }}</span></td>
                      <td><span style="font-weight: bold;"> &#2547; {{ summary.total_mrp | number: "1.2-2" }}</span></td>
                      <td><span style="font-weight: bold;"> &#2547; {{ summary.total_profit | number: "1.2-2" }}</span></td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <div class="custom_loader_new" style="margin: 0 auto !important;" *ngIf="customLoader"></div>
          <table  *ngIf="!customLoader" class="mb-0 table table-hover">
            <thead>
              <tr>
                  <th>#</th>
                  <th class="td_text_align_left" width="50%">{{ 'Product Name' | translate }}</th>
                  <th>{{ 'Barcode' | translate }}</th>
                  <th>{{ 'Qty' | translate }}</th>
                  <th *ngIf="config.enTP">{{ 'TP' | translate }} {{ currency }}</th>
                  <th>{{ 'CPU' | translate }} {{ currency }}</th>
                  <th>{{ 'RPU' | translate }} {{ currency }}</th>
                  <th>{{ 'Low Stock Alert Qty' | translate }}</th>
                  <th>{{ 'Action' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of inventoryList; let i='index';">
                  <td>{{ i+1 }}</td>
                  <td style="text-align: left;">
                    {{ item.medicine_type | slice:0:3 }}. {{ item.medicine_name }} <br>
                    <small>{{ item.brand }} <span *ngIf="config.enBatch">({{ item.batch_no }})</span></small>
                  </td>
                  <td>
                    <button #modalButton title="View" (click)="openModal(item, 'print-modal')"
                      id="modal_button" class="mb-2 mr-2 btn-transition btn btn-outline-success">
                      <i class="fa fa-eye icon-gradient bg-malibu-beach"></i>
                    </button>
                  </td>
                  <td>
                    <p *ngIf="item.quantity<'0'">0</p>
                    <p *ngIf="item.quantity>='0'">{{ item.quantity }}</p>
                  </td>
                  <td *ngIf="config.enTP"><span id='unit_price{{ i }}'>{{ item.unit_price | number: "1.2-2" }}</span></td>
                  <td><span id='mrp{{ i }}'>{{ item.tp | number: "1.2-2" }}</span></td>
                  <td><span id='tp{{ i }}'>{{ item.mrp | number: "1.2-2" }}</span></td>
                  <td>
                      <span id='{{ i }}'>{{ item.low_stock_qty }}</span>
                  </td>
                  <td>
                    <button (click)="ChangeQty(item, i)" id="order_id" class="mr-2 btn-icon btn-icon-only btn btn-outline-info"><i class="pe-7s-bell btn-icon-wrapper"> </i></button>
                    <button (click)="ChangeMrpTp(item, i)" id="order_id" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-note btn-icon-wrapper"> </i></button>
                  </td>
              </tr>
            </tbody>
          </table>
          <boot-pagination style="width: 100%" *ngIf="paginationShow" [totalSize]="pagi.total" [listSize]="pagi.limit"
            (pageChange)="reloadTable($event)">
          </boot-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal id="print-modal" class="data-view-modal">
  <div class="row" style="padding: 50px">
    <div class="col-md-12" style="border: black solid 1px; width: 100%">
      <header class="clearfix">
        <div id="logo">
          <span class="pharmacy">{{ itemDetails.medicine_name }}</span>
          <h1 class="pdf-div" style="font-size: 1.5em">
            {{ 'Barcode' | translate }}# {{ itemDetails.barcode }}
          </h1>
        </div>
      </header>
      <main style="margin-bottom: 3%;text-align: center;">
        <ngx-barcode [bc-value]="itemDetails.barcode" [bc-display-value]="true"></ngx-barcode>
      </main>
    </div>
  </div>
  <div id="print-div">
    <button id="print-button" (click)="printInvoice('print-modal')" class="btn btn-success btn-xs">
      {{ 'Print' | translate }}
    </button>
    <button id="close-button" (click)="closeModal('print-modal')" class="btn btn-warning btn-xs">
      {{ 'Close' | translate }}
    </button>
  </div>
</jw-modal>