.card-header-top {
  height: 3rem !important;
}

.card-header-title {
  font-size: 1rem !important;
}

.search-div{
  margin-left: 10px;
}

.label-margin-right{
  margin-right: 5px;
}

.filter-medicine-btn {
  width: 100px;
  padding: 6px;
  background-color: #6f6f6f;
  border: 1px solid #6f6f6f;
  margin-left: 10px;
}

.reset-medicine-btn {
  width: 100px;
  padding: 6px;
  color: black;
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3;
  margin-left: 10px;
}

.td_text_align_left{
  text-align: left !important;
}

thead{
  font-weight: bold;
}

thead > tr > th{
  vertical-align: top;
}

tbody > tr > td{
  vertical-align: middle;
}

.summary thead > tr > th{
  vertical-align: top;
  background: #006300;
  color: #fff;
}

.custom_loader_new{
  background: url("loader.gif");
  min-height: 83px;
  max-width: 90px;
}

.sale-filter-form-background{
  background: darkslateblue;
  padding-top: 15px;
  padding-bottom: 7px;
  margin-bottom: 9px;
}

.padding-bot-input{
  padding-bottom: 8px !important;
}

.sale-info {
  background-color: #5f9ea0a8;
}
.sale-item-info {
  background-color: #a9a9a9a6;
}