.filter-medicine-btn {
  width: 100px;
  padding: 6px;
  background-color: #6f6f6f;
  border: 1px solid #6f6f6f;
  margin-left: 10px;
}

.reset-medicine-btn {
  width: 100px;
  padding: 6px;
  color: black;
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3;
  margin-left: 10px;
}