<div class="row" *ngIf="collectionSize>0">
    <div class="col-md-6">
        <ngb-pagination [collectionSize]="collectionSize" [page]="page" [pageSize]="pagelimit" [rotate]="true"
            [ellipses]="true" [maxSize]="maxSize" [boundaryLinks]="true" (pageChange)="changePage($event)"></ngb-pagination>
    </div>
    <div class="col-md-6">
        <div class="form-group m-form__group display-text">
            <div class="styled-select" *ngIf="itemList">
                <select id="open-select" [(ngModel)]="pagelimit" (change)="changePage()">
                    <option *ngFor="let o of options" [value]="o">{{o}}</option>	
                </select>
                <span class="fa fa-angle-down" for="open-select"></span>
            </div>
            <span>Displaying {{start}} to {{end}} of {{collectionSize}} records</span>
            
        </div>
    </div>
</div>