<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <table class="data-list mb-0 table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Description</th>
                <th>Key</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 1 </td>
                <td> Dashboard</td>
                <td> Shift + D </td>
              </tr>
              <tr>
                <td> 2 </td>
                <td> New Sale</td>
                <td> Shift + S </td>
              </tr>
              <tr>
                <td> 3 </td>
                <td> Sale List </td>
                <td> Shift + L </td>
              </tr>
              <tr>
                <td> 4</td>
                <td> New Purchase</td>
                <td> Shift + P </td>
              </tr>
              <tr>
                <td> 5</td>
                <td> Purchase List</td>
                <td> Shift + O </td>
              </tr>
              <tr>
                <td> 6 </td>
                <td> Sale Report</td>
                <td> Shift + R </td>
              </tr>
              <tr>
                <td> 7 </td>
                <td> Purchase Report </td>
                <td> Shift + T </td>
              </tr>
              <tr>
                <td> 8 </td>
                <td> Purchase Due</td>
                <td> Shift + K </td>
              </tr>
              <tr>
                <td> 9 </td>
                <td> Sale Due</td>
                <td> Shift + J </td>
              </tr>
              <tr>
                <td> 10 </td>
                <td> User </td>
                <td> Shift + U </td>
              </tr>
              <tr>
                <td> 11 </td>
                <td> Inventory</td>
                <td> Shift + I </td>
              </tr>
              <tr>
                <td> 12 </td>
                <td> Product</td>
                <td> Shift + N </td>
              </tr>
              <tr>
                <td> 13 </td>
                <td> Print</td>
                <td> Shift + H </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
</div>