<div class="m-portlet m-portlet--mobile search-div">
  <div class="m-portlet__body search-panel">
    <!--begin::Form-->
    <form class="form-inline" #form="ngForm" (ngSubmit)="searchfilterData()">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Product / Medicine</label>
        <div id="scrollable-dropdown-menu">
          <input placeholder="Medicine Name" #typeaheadInstance="ngbTypeahead" #cartMedicine id="typeahead-basic_1"
            name="search" (keydown)="typeaheadKeydown($event)" [(ngModel)]="filterData.medicine" type="text"
            class="form-control form-input-width-100" [ngbTypeahead]="medicine_search" />
        </div>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Company</label>
        <input id="typeahead-basic_2" name="company_name" [(ngModel)]="filterData.company_name"
          [ngbTypeahead]="company_search" placeholder="Company" type="text" class="form-control">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Product Type</label>
        <div id="scrollable-dropdown-menu">
          <input id="typeahead-basic_3" name="type" [(ngModel)]="filterData.type" [ngbTypeahead]="type_search"
            placeholder="Type" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Generic</label>
        <div id="scrollable-dropdown-menu">
          <input type="text" class="form-control" name="generic" [(ngModel)]="filterData.generic"
            placeholder="Generic" />
        </div>
      </div>
      <button type="submit" class="btn btn-info mb-2" style="margin-right:10px">
        <i class="fa fa-calendar-check-o"></i>
        Search
      </button>
      <button type="reset" class="btn btn-warning mb-2" (click)="resetSearch()">
        <i class="fa fa-history"></i>
        Reset
      </button>
    </form>
    <!--end::Form-->
  </div>
</div>