<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div  class="row sale-filter-form-background">
          <div class="col-md-10">
            <app-product-brand-filter style="width: 100%" (loadList)="filterList($event)"></app-product-brand-filter>
            <!-- <form *ngIf="product_id" class="form-inline" #form="ngForm" id="myForm" (ngSubmit)="update()">
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="brand_name" [(ngModel)]="productInfo.medicine"
                  placeholder="Product Name" />
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input id="typeahead-basic_a" name="company_name" [(ngModel)]="productInfo.company"
                  [ngbTypeahead]="company_search" placeholder="Company" type="text" class="form-control">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input id="typeahead-basic_b" name="type" [(ngModel)]="productInfo.type" [ngbTypeahead]="type_search"
                  placeholder="Type" type="text" class="form-control">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="generic_name" [(ngModel)]="productInfo.generic"
                  placeholder="Generic" />
              </div>
              <button type="submit" class="btn btn-primary mb-2" style="margin-right:10px">
                <i class="fa fa-calendar-check-o"></i>
                Update
              </button>
              <button type="button" (click)="closeForm()" class="btn btn-warning mb-2" style="margin-right:10px">
                <i class="fa fa-calendar-check-o"></i>
                Cancel
              </button>
            </form> -->
          </div>
          <div class="col-md-2" style="float: right">
            <button (click)="openModal('create-modal')" id="item_id" class="mb-2 mr-2 btn btn-success btn-block">
              <i class="fa fa-plus"></i>
               {{ 'New Product' | translate }}
            </button>
          </div>
        </div>
        <div class="custom_loader" style="margin: 0 auto !important;" *ngIf="customLoader"></div>
        <table class="mb-0 table table-bordered" *ngIf="!customLoader">
          <thead>
            <tr>
              <th class="width5">#</th>
              <th class="width30">{{ 'Title' | translate }}</th>
              <th class="width25">{{ 'Brand' | translate }}</th>
              <th class="width10">{{ 'Type' | translate }}</th>
              <th class="width20">{{ 'Specification' | translate }}</th>
              <th class="width20">{{ 'Barcode' | translate }}</th>
              <th class="width10">{{ 'Action' | translate }}</th>
            </tr>
          </thead>
          <tbody *ngIf="dataList.length > 0; else emptyData">
            <tr *ngFor="
                let item of dataList;
                trackBy: trackList;
                let i = index;
                let e = even;
                let o = odd
              " [ngClass]="{ odd: o, even: e }">
              <td>{{ i + 1 }}</td>
              <td>{{ item.brand_name }}</td>
              <td>{{ item.brand }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.generic_name }}</td>
              <td>{{ item.barcode }}</td>
              <td class="float-right">
                <a style="cursor: pointer" class="btn btn-info fa fa-edit" (click)="editProduct(item.id)"></a> &nbsp;
                <a style="cursor: pointer" class="btn btn-danger fa fa-trash" (click)="deleteProduct(item.id)"></a>
              </td>
              <!-- <td>
                <a style="cursor: pointer" class="btn btn-info fa fa-edit" (click)="editProduct(item)"></a> &nbsp;
                <a style="cursor: pointer" class="btn btn-danger fa fa-trash"
                  (click)="deleteProduct(item.medicine_id)"></a> &nbsp;
              </td> -->
            </tr>
          </tbody>
          <ng-template #emptyData>
            <tbody>
              <tr>
                <td colspan="6">{{ 'Empty data' | translate }}</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
        <boot-pagination style="width: 100%" [totalSize]="pagi.total" [listSize]="pagi.limit"
          (pageChange)="reloadTable($event)">
        </boot-pagination>
      </div>
    </div>
  </div>
</div>


<jw-modal id="create-modal" class="view-modal data-view-modal">
  <h3 style="text-align: center;"> {{ 'Product Details' | translate }}</h3>
  <div class="row" style="padding: 25px">
    <div class="col-md-12" style="border: #8080804a solid 1px; width: 100%">
      <main style="margin-bottom: 5%">
        <form id="myForm" class="form-width-100" (ngSubmit)="AddProduct()" style="padding-top: 10px">
          <div class="form-group">
            <label>{{ 'Name' | translate }}</label>
            <input (keydown.enter)="productType.focus()" name="product_name" id="product_name" [(ngModel)]="productDetails.product_name" placeholder="Title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'Type' | translate }}</label>
            <select #productType (keydown.enter)="productBrand.focus()" class="ace form-control" required name="type" [(ngModel)]="productDetails.type">
              <option value="">{{ 'Select Type' | translate }}</option>
              <option *ngFor="let typeDetails of allTypeList" value="{{ typeDetails.id }}">{{ typeDetails.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'Brand' | translate }}</label>
            <select #productBrand (keydown.enter)="productSpecification.focus()" class="ace form-control" required name="brand_id" [(ngModel)]="productDetails.brand_id">
              <option value="">{{ 'Select Brand' | translate }}</option>
              <option *ngFor="let brand of allBrandList" value="{{ brand.id }}">{{ brand.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'Specification' | translate }}</label>
            <input #productSpecification (keydown.enter)="AddProduct()" name="generic" [(ngModel)]="productDetails.generic" placeholder="Specification" type="text" class="form-control">
          </div>
          <div class="form-group">
            <button type="button" (click)="AddProduct()" class="btn btn-info">{{ 'Save' | translate }}</button>
            &nbsp;
            <button type="button" (click)="resetList()" class="btn btn-warning">{{ 'Reset' | translate }}</button>
            &nbsp;
            <a (click)="closeModal('create-modal')" class="btn btn-danger btn-xs">
              {{ 'Close' | translate }}
            </a>
          </div>
        </form>
      </main>
    </div>
  </div>
</jw-modal>

<jw-modal id="edit-modal" class="view-modal data-view-modal">
  <h3 style="text-align: center;"> {{ 'Product Edit' | translate }}</h3>
  <div class="row" style="padding: 25px">
    <div class="col-md-12" style="border: #8080804a solid 1px; width: 100%">
      <main style="margin-bottom: 5%">
        <form id="myForm" class="form-width-100" (ngSubmit)="AddProduct()" style="padding-top: 10px" #editForm="ngForm">
          <div class="form-group">
            <label>{{ 'Name' | translate }}</label>
            <input name="product_name" id="product_name" [(ngModel)]="productDetails.product_name" placeholder="Title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'Barcode' | translate }}</label>
            <input #barcode name="barcode" [(ngModel)]="productDetails.barcode" placeholder="barcode" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'Type' | translate }}</label>
            <select class="ace form-control" required name="type" [(ngModel)]="productDetails.type">
              <option value="">{{ 'Select Type' | translate }}</option>
              <option *ngFor="let typeDetails of allTypeList" value="{{ typeDetails.id }}">{{ typeDetails.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'Brand' | translate }}</label>
            <select class="ace form-control" required name="brand_id" [(ngModel)]="productDetails.brand_id">
              <option value="">{{ 'Select Brand' | translate }}</option>
              <option *ngFor="let brand of allBrandList" value="{{ brand.id }}">{{ brand.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'Specification' | translate }}</label>
            <input name="generic" [(ngModel)]="productDetails.generic" placeholder="Specification" type="text" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">{{ 'Save' | translate }}</button>
            &nbsp;
            <button type="button" (click)="resetList()" class="btn btn-warning">{{ 'Reset' | translate }}</button>
            &nbsp;
            <a (click)="closeModal('create-modal')" class="btn btn-danger btn-xs">
              {{ 'Close' | translate }}
            </a>
          </div>
        </form>
      </main>
    </div>
  </div>
</jw-modal>