<div class="m-portlet m-portlet--mobile search-div sale-filter-form-background">
    <div class="m-portlet__body search-panel">
      <!--begin::Form-->
      <form class="form-inline" #form="ngForm" (ngSubmit)="searchSaleData()">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only"> Invoice</label>
          <input
            type="text"
            class="form-control"
            name="invoice"
            [(ngModel)]="saleData.invoice"
            placeholder="{{ 'Invoice' | translate }}"
          />
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Supplier</label>
          <input name="company" id="typeahead-basic" name="company" [(ngModel)]="saleData.company"
            [ngbTypeahead]="company_search" placeholder="{{ 'Supplier' | translate }}" type="text" class="form-control">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Date Range</label>
          <input
            autocomplete="off"
            type="text"
            placeholder="{{ 'Date Range' | translate }}"
            class="form-control"
            bsDaterangepicker
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            [(ngModel)]="saleData.damage_date"
            name="sale_date"
          />
        </div>
  
        <button
          type="submit"
          class="btn btn-info mb-2"
          style="margin-right:10px"
        >
          <i class="fa fa-calendar-check-o"></i>
          {{ 'Search' | translate }}
        </button>
        <button type="reset" class="btn btn-warning mb-2" (click)="resetSearch()">
          <i class="fa fa-history"></i>
          {{ 'Reset' | translate }}
        </button>
      </form>
      <!--end::Form-->
    </div>
  </div>
  